.circulo-wrapper {
  position: relative;
  width: 400px;
  height: 400px;
  margin: auto;
}

.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.item-text {
  position: absolute;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.item-text:hover {
  transform: scale(1.2);
}

.item-text:nth-child(1) {top: -10%; left: 50%; transform: translateX(-50%);}
.item-text:nth-child(2) {top: 25%; right: -5%; transform: translateY(-50%);}
.item-text:nth-child(3) {bottom: 15%; right: 10%;transform: translateY(50%);}
.item-text:nth-child(4) {bottom: 15%; left: 10%; transform: translateY(50%);}
.item-text:nth-child(5) {top: 25%; left: -5%; transform: translateY(-50%);}

.center {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#centerText {
  font-size: 26px;
  font-weight: bold;
}

.item-text.active {
  background: #d4af37;
  color: #fff;
  padding: 15px;
  border-radius: 50%;
}

