.btn-shine {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    border: 2px solid #d4af37;
    border-radius: 50px;
    overflow: hidden;
    transition: 0.3s;
    letter-spacing: 1px;
  }


.btn-shine:hover {
    background: #d4af37;
    color: #111;
    box-shadow: 0 0 20px rgba(212, 175, 55, 0.6);
  }

  .btn-shine::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(255, 255, 255, 0.8),
      transparent
    );
    transform: skewX(-20deg);
    transition: 0.7s;
  }

  .btn-shine:hover::after {
    left: 200%;
  }