.btn-shine {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    border: 2px solid #d4af37;
    border-radius: 50px;
    overflow: hidden;
    transition: 0.3s;
    letter-spacing: 1px;
  }


.btn-shine:hover {
    background: #d4af37;
    color: #111;
    box-shadow: 0 0 20px rgba(212, 175, 55, 0.6);
  }

  .btn-shine::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(255, 255, 255, 0.8),
      transparent
    );
    transform: skewX(-20deg);
    transition: 0.7s;
  }

  .btn-shine:hover::after {
    left: 200%;
  }



  .btn-shine1 {
    position: relative;
    display: inline-block;
    padding: 14px 24px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    border: 2px solid #d4af37;
    border-radius: 50px;
    overflow: hidden;
    transition: 0.3s;
    letter-spacing: 1px;
  }


.btn-shine1:hover {
    background: #d4af37;
    color: #111;
    box-shadow: 0 0 20px rgba(212, 175, 55, 0.6);
  }

  .btn-shine1::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(255, 255, 255, 0.8),
      transparent
    );
    transform: skewX(-20deg);
    transition: 0.7s;
  }

  .btn-shine1:hover::after {
    left: 200%;
  }



  .carta1 {
    position: relative;
    overflow: hidden;
}

.carta1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.35);
    backdrop-filter: blur(2px); 
    transition: all 0.4s ease;
    pointer-events: none;
}

.carta1:hover::after {
    background: rgba(0,0,0,0);
    backdrop-filter: blur(0px);
}

.carta1:hover {
    transform: scale(1.01);
    transition: 0.4s ease;
}

@media (max-width: 992px) {
  .carta1::after {
    display: none; 
  }
  .carta1:hover{
    transform: none;
  }
}
