body {
  font-family: "Raleway", sans-serif;
  user-select: none;
  /*background-color: #C6A04F;*/
}

.navbar{
  background: rgba(0, 0, 0, 0.7);
  padding: 0;
  transition: top 0.5s ease;
}

.container-fluid{
  margin: 0;
}

.barra:hover{
  background: #C6A04F;
  margin: 0;
  
}

#citas{
  border-radius: 50px;
}

#citas:hover{
  background-color: #342b1e;
  color: white;
  border: 1px solid #342b1e;

}

.titulo{
    font-family: "Playfair Display", serif;
    font-size: 90px;
    font-weight: bold;
}

.subtitulo{
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: bold;
}

.texto{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: justify;
}

.carta{
    background: #f4f4f4;
}

.boton{
    background: #342b1e;
    color: #fff;
    border-radius: 40px;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s ease;
}

.numeros{
    color: #6f6f6f;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #6f6f6f;
}

.numeros:hover{
  background: #C6A04F;
  color: #fff;
}


.container {
  position: relative;
  width: 30vw;
  height: 30vw;
  max-width: 400px;
  max-height: 400px;
}


.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: rotate 20s linear infinite;
  transform-origin: center;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.circle img {
  position: absolute;
  width: 25%;
  height: 15%;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  border-radius: 50%;
  padding: 5px;
}

.circle img:hover {
  transform: scale(1.2);
}

.circle img.selected {
  background-color: #c5a03f;
}

.circle img:nth-child(1) {top: -10%; left: 50%; transform: translateX(-50%);}
.circle img:nth-child(2) {top: 25%; right: -5%; transform: translateY(-50%);}
.circle img:nth-child(3) {bottom: 15%; right: 10%;transform: translateY(50%);}
.circle img:nth-child(4) {bottom: 15%; left: 10%; transform: translateY(50%);}
.circle img:nth-child(5) {top: 25%; left: -5%; transform: translateY(-50%);}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1200px;
  height: 200px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

#imageTitle{
    transition: opacity 0.3s ease;
}

#imageDesc{
    transition: opacity 0.3s ease;
}

@media (max-width: 992px) {
  .container {
    width: 40vw;
    height: 40vw;
  }

  .circle img {
    width: 18%;
    height: 28%;
  }

  .center {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .container {
    width: 60vw;
    height: 60vw;
  }

  .circle img {
    width: 20%;
    height: 30%;
  }

  .center {
    width: 50%;
  }

  .manos{
    width: 500;
    height: auto;
  }
}

@media (max-width: 400px) {
  .container {
    width: 70vw;
    height: 70vw;
  }

  .circle img {
    width: 22%;
    height: 32%;
  }

  .center {
    width: 55%;
  }
}

