body {
  font-family: "Raleway", sans-serif;
  user-select: none;
  /*background-color: #C6A04F;*/
}

.navbar{
  background: rgba(0, 0, 0, 0.7);
  padding: 0;
  transition: top 0.5s ease;
}

.container-fluid{
  margin: 0;
}

.barra:hover{
  background: #C6A04F;
  margin: 0;
}

#citas{
  border-radius: 50px;
}

#citas:hover{
  background-color: #342b1e;
  color: #f4f4f4;
  border: 1px solid #342b1e;

}

/*sección 1*/
.seccion_1{
  background: #171614;
}


.texto_1{
  font-family: "Playfair Display", serif;
  font-size: 200px;
  font-weight: bold;
}

.texto_2{
  font-family: "Romanesco", serif;
  font-size: 150px;
}

.titulo{
    font-family: "Playfair Display", serif;
    font-size: 90px;
    font-weight: bold;
    letter-spacing: 10px;
}

.titulo_2{
    font-family: "Playfair Display", serif;
    font-size: 40px;
}

.subtitulo{
    font-family: "Playfair Display", serif;
    font-size: 20px;
    letter-spacing: 15px;
}

/*Sección 2*/
.seccion_2 {
  position: relative;
}


.subtitulo_1{
  position: absolute;
  top: 25%; 
  left: 25%; 
  transform: translate(-50%, -50%);
  color: black; 
  font-family: "Playfair Display", sans-serif;
  font-size: 30px;
  text-align: center;
}

.texto_4{
  position: absolute;
  top: 45%; 
  left: 25%; 
  right: 35%;
  transform: translate(-50%, -50%);
  color: black; 
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  text-align: center;
}

.subtitulo_2{
  color: black; 
  font-family: "Playfair Display", sans-serif;
  font-size: 30px;
  text-align: center;
}

.texto_42{
  color: black; 
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  text-align: center;
}

hr{
  background: #f4f4f4;
  padding: 0;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
}

h3{
  font-family: "Poppins", sans-serif;
  color: black;
  margin-left: 25px;
}



/*Sección 3
.seccion_3{
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-left: 10px;
}
*/
.promocion{
  background: #f4f4f4;
  width: 400px;
  height: 150px;
}

.agendar_1 button{
  background: #C6A04F;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: white;
  text-decoration: none;
  border: #C6A04F;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
/*
.texto_5{
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 15px;
  text-align: center;
  padding: 20;
  margin: 30px 0px 20px 0px;
}

#ver_mas{
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: rgb(8, 8, 116);
}

.cita_1{
  margin-top: 44px;
}

#agendar_1{
  background: #C6A04F;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: white;
  text-decoration: none;
  padding: 10px 63px 10px 58px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.texto_6{
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 15px;
  text-align: center;
  padding: 20;
  margin: 35px 0px 15px 0px;
}

.cita_2{
  margin-top: 60px;
}

#agendar_2{
  background: #C6A04F;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: white;
  text-decoration: none;
  padding: 10px 66px 10px 55px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.texto_7{
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 15px;
  text-align: center;
  padding: 20;
  margin: 30px 0px 15px 0px;
}

.cita_3{
  margin-top: 44px;
}

#agendar_3{
  background: #C6A04F;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: white;
  text-decoration: none;
  padding: 10px 62px 10px 58px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
*/



@media (max-width: 992px) {
  .texto_1{
      font-size: 100px;
    }
    .texto_2 span{
      font-size: 50;
    }
  .titulo{
    font-size: 30px;
  }
  .subtitulo{
  font-size: 20px;
  letter-spacing: normal;
  }
  .subtitulo_1{
    font-size: 20px;
  }

  .texto_4{
    font-size: 12px;
  }

 

  .extension{
    width: 785px;
    height: auto;
    display: flex;
    justify-content: end;
  }

}

@media (max-width: 600px) {
  .texto_1{
      font-size: 100px;
    }
    .texto_2{
      font-size: 50px;
    }
  .titulo{
    font-size: 30px;
  }

  .subtitulo{
  font-size: 20px;
  }

  .subtitulo_1{
    font-size: 20px;
  }
  
  .extension{
    width: 585px;
    height: auto;
    display: flex;
    justify-content: end;
  }

}

@media (max-width: 400px) {
  .extension{
    width: 350px;
    height: auto;
  }
}