body {
  font-family: "Raleway", sans-serif;
  user-select: none;
  /*background-color: #C6A04F;*/
}

.navbar{
  background: rgba(0, 0, 0, 0.5);
  padding: 0;
}

.container-fluid{
  margin: 0;
}

.barra:hover{
  background: #C6A04F;
  margin: 0;
}

#citas{
  border-radius: 50px;
}

#citas:hover{
  background-color: #342b1e;
  color: white;
  border: 1px solid #342b1e;

}


.titulo{
    font-family: "Playfair Display", serif;
    color: #ffffff;
    font-size: 1000%;
    text-shadow:  2px 2px 10px rgba(0, 0, 0, 0.5);
}

.subtitulo{
    font-family: "Playfair Display", serif;
    color: #ffffff;
    font-size: 200%;
}


/*sección 1*/

.seccion_1{
    display: flex;
    flex-direction: column;
    background: #171614;
}

.contenido_1{
    margin-top: 75px;
    margin-bottom: 0;
}

.titulo_1{
    font-family: "Playfair Display", serif;
    color: white;
    font-size: 110px;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.subtitulo_1{
    font-family: "Playfair Display", serif;
    color: white;
    font-size: 25px;
}

.seccion_2{
    position: absolute;
    margin-left: 40px;
}

.contenido{
    position: relative;
    margin: 0 300px;
}

/*sección 2*/
.titulo_2{
    font-family: "Poppins", sans-serif;
    color: black;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 45px;
}

/*formulario*/
label .dato{
    font-family: "Poppins", sans-serif;
    color: black;
    padding: 0px 3px 20px 65px;
    font-size: 17px;
    margin-left: 180px;
}

.dato_1{
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 17px;
}

.campo{
    font-family: "Poppins", sans-serif;
    border-radius: 13px;
    border: 1px solid #f1f0f0;
    background: #f4f4f4bb;
    color: #c0bfbf;
    padding: 10px;
    font-size: 15px;
}

.campo_1{
    font-family: "Poppins", sans-serif;
    border-radius: 13px;
    border: 1px solid #f1f0f0;
    background: #f4f4f4bb;
    color: #c0bfbf;
    width: 480px;
    padding: 10px;
    font-size: 15px;
}

.nota_1, .nota_2{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    padding: 15px;
    margin: 25px 0 25px 50px;
    color: black;
}

.campo_2{
    font-family: "Poppins", sans-serif;
    border-radius: 13px;
    border: 1px solid #f1f0f0;
    background: #f4f4f4bb;
    color: #c0bfbf;
    width: 490px;
    padding: 10px;
    font-size: 15px;
    margin-left: 100px;
}

.campo_3{
    font-family: "Poppins", sans-serif;
    border-radius: 13px;
    border: 1px solid #f1f0f0;
    background: #f4f4f4bb;
    color: #c0bfbf;
    width: 150px;
    padding: 10px;
    font-size: 15px;
}

.precio{
    margin-top: 10px;
    margin-left: 180px;
}

.campo_4{
    font-family: "Poppins", sans-serif;
    border-radius: 13px;
    border: 1px solid #f1f0f0;
    background: #f4f4f4bb;
    color: #c0bfbf;
    width: 200px;
    padding: 10px;
    font-size: 15px;
}

.campo_5{
    font-family: "Poppins", sans-serif;
    border-radius: 13px;
    border: 1px solid #f1f0f0;
    background: #f4f4f4bb;
    color: #c0bfbf;
    width: 490px;
    padding: 10px;
    font-size: 15px;
}

.guardar{
    font-family: "Poppins", sans-serif;
    border-radius: 13px;
    border: 1px solid #c08e22;
    background: #c08e22;
    color: white;
    padding: 10px;
    margin: 10px 0 15px 500px;
}

.guardar_1{
    font-family: "Poppins", sans-serif;
    border-radius: 13px;
    border: 1px solid #c08e22;
    background: #c08e22;
    color: white;
    padding: 10px;
}

.guardar:hover,
.guardar_1:hover{
    background: #171614;
    color: #c08e22;
}

.imagen_1 {
    position: absolute;
    top: 65px;
    right: -120px;
    width: 430px;
    z-index: -1;
    pointer-events: none;
}

.nota{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    padding: 15px;
    color: black;
}

.tabla th{
  background: #d4af37;
  color: #fff;
}

@media (max-width:900px) {
  .titulo{
    font-size: 100px;
  }

}

@media (max-width:600px) {
  .titulo{
    font-size: 90px;
  }
  .subtitulo{
    font-size: 20px;
  }
}

@media (max-width:400px) {
  .titulo{
    font-size: 70px;
  }
  .subtitulo{
    font-size: 15px;
  }
}
