body {
  font-family: "Raleway", sans-serif;
  user-select: none;
  /*background-color: #C6A04F;*/
}

.navbar{
  background: rgba(0, 0, 0, 0.5);
  padding: 0;
}

.container-fluid{
  margin: 0;
}

.barra:hover{
  background: #C6A04F;
  margin: 0;
}

#citas{
  border-radius: 50px;
}

#citas:hover{
  background-color: #342b1e;
  color: white;
  border: 1px solid #342b1e;

}

/*sección 1*/

.seccion_1{
    display: flex;
    flex-direction: column;
    background: #171614;
}

.contenido_1{
    margin-top: 75px;
    margin-bottom: 0;
}

.titulo_1{
    font-family: "Playfair Display", serif;
    color: white;
    font-size: 110px;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.subtitulo_1{
    font-family: "Playfair Display", serif;
    color: white;
    font-size: 25px;
}

.seccion_2{
    position: absolute;
    margin-left: 40px;
}

.contenido{
    position: relative;
}

/*sección 2*/
.titulo_2{
    font-family: "Poppins", sans-serif;
    color: black;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 45px;
}

/*formulario*/
label{
    font-family: "Poppins", sans-serif;
    color: black;
    padding: 0px 3px 20px 65px;
    font-size: 17px;
    margin-left: 180px;
}

.campo_1{
    font-family: "Poppins", sans-serif;
    border-radius: 13px;
    border: 1px solid #f1f0f0;
    background: #f4f4f4bb;
    color: #c0bfbf;
    width: 450px;
    padding: 10px;
    font-size: 15px;
}

.nota_1{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    padding: 15px;
    margin-bottom: 25px;
    color: black;
    margin-left: 230px;
}

.campo_2{
    font-family: "Poppins", sans-serif;
    border-radius: 13px;
    border: 1px solid #f1f0f0;
    background: #f4f4f4bb;
    color: #c0bfbf;
    width: 490px;
    padding: 10px;
    font-size: 15px;
    margin-left: 300px;
}

.campo_3{
    font-family: "Poppins", sans-serif;
    border-radius: 13px;
    border: 1px solid #f1f0f0;
    background: #f4f4f4bb;
    color: #c0bfbf;
    width: 150px;
    padding: 10px;
    font-size: 15px;
}

.precio{
    margin-top: 10px;
    margin-left: 180px;
}

.nota_2{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    padding: 15px;
    margin-bottom: 25px;
    color: black;
    margin-left: 230px;
}

.campo_4{
    font-family: "Poppins", sans-serif;
    border-radius: 13px;
    border: 1px solid #f1f0f0;
    background: #f4f4f4bb;
    color: #c0bfbf;
    width: 200px;
    padding: 10px;
    font-size: 15px;
}

.campo_5{
    font-family: "Poppins", sans-serif;
    border-radius: 13px;
    border: 1px solid #f1f0f0;
    background: #f4f4f4bb;
    color: #c0bfbf;
    width: 490px;
    padding: 10px;
    font-size: 15px;
}

.guardar{
    font-family: "Poppins", sans-serif;
    border-radius: 13px;
    border: 1px solid #c08e22;
    background: #c08e22;
    color: white;
    padding: 10px;
    margin-top: 10px;
    margin-left: 820px;
    margin-bottom: 15px;
}

.imagen_1{
    margin: 110px 0px 180px 820px;
}
