body {
  font-family: "Raleway", sans-serif;
  user-select: none;
  /*background-color: #C6A04F;*/
}

.navbar{
  background: rgba(0, 0, 0, 0.5);
  padding: 0;
  transition: top 0.5s ease;
}

.container-fluid{
  margin: 0;
}

.barra:hover{
  background: #C6A04F;
  margin: 0;
}

#citas{
  border-radius: 50px;
}

#citas:hover{
  background-color: #342b1e;
  color: #f4f4f4;
  border: 1px solid #342b1e;

}

/*sección 1*/
.seccion_1{
  display: flex;
  flex-direction: row;
  background: #171614;
}

.imagen_1{
  margin-top: 70px;
  margin-left: 100px;
}

.texto_1{
  margin-top: 100px;
  font-family: "Playfair Display", serif;
  color: white;
  font-size: 100px;
  font-weight: bold;
  margin-left: 30px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.texto_2{
  font-family: "Playfair Display", serif;
  color: white;
  font-size: 100px;
  font-weight: bold;
  margin-left: 270px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.texto_3{
  font-family: "Playfair Display", serif;
  color: #bb9034;
  font-size: 30px;
  margin-left: 170px;
}

/*Sección 2*/
.seccion_2 {
  position: relative;
}

.imagen_2{
  margin-left: 475px;
}

.subtitulo_1{
  position: absolute;
  top: 25%; 
  left: 25%; 
  transform: translate(-50%, -50%);
  color: black; 
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  text-align: center;
}

.texto_4{
  position: absolute;
  top: 45%; 
  left: 25%; 
  right: 35%;
  transform: translate(-50%, -50%);
  color: black; 
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  text-align: center;
}

hr{
  background: #f4f4f4;
  padding: 0;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
}

h3{
  font-family: "Poppins", sans-serif;
  color: black;
  margin-left: 25px;
}

/*Sección 3*/
.seccion_3{
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-left: 10px;
}

.promocion{
  display: flex;
  flex-direction: row;
  background: #f4f4f4;
  margin-right: 15px;
  width: 600px;
  height: 180px;
}
.texto_5{
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 15px;
  text-align: center;
  padding: 20;
  margin: 30px 0px 20px 0px;
}

#ver_mas{
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: rgb(8, 8, 116);
}

.cita_1{
  margin-top: 44px;
}

#agendar_1{
  background: #C6A04F;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: white;
  text-decoration: none;
  padding: 10px 63px 10px 58px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.texto_6{
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 15px;
  text-align: center;
  padding: 20;
  margin: 35px 0px 15px 0px;
}

.cita_2{
  margin-top: 60px;
}

#agendar_2{
  background: #C6A04F;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: white;
  text-decoration: none;
  padding: 10px 66px 10px 55px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.texto_7{
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 15px;
  text-align: center;
  padding: 20;
  margin: 30px 0px 15px 0px;
}

.cita_3{
  margin-top: 44px;
}

#agendar_3{
  background: #C6A04F;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: white;
  text-decoration: none;
  padding: 10px 62px 10px 58px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
