body {
  font-family: "Raleway", sans-serif;
  user-select: none;
  /*background-color: #C6A04F;*/
}

.navbar{
  background: rgba(0, 0, 0, 0.5);
  padding: 0;
}

.container-fluid{
  margin: 0;
}

.barra:hover{
  background: #C6A04F;
  margin: 0;
}

#citas{
  border-radius: 50px;
}

#citas:hover{
  background-color: #342b1e;
  color: white;
  border: 1px solid #342b1e;

}

/*sección 1*/

.seccion_1{
    display: flex;
    flex-direction: column;
    background: #171614;
}

.contenido_1{
    margin-top: 75px;
    margin-bottom: 0;
}

.titulo_1{
    font-family: "Playfair Display", serif;
    color: white;
    font-size: 110px;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.subtitulo_1{
    font-family: "Playfair Display", serif;
    color: black;
    font-size: 25px;
}

/*iniciar sesión*/
.login{
  background: white;
  border-radius: 13px;
  margin: 20px 280px 15px 280px;
}

.titulo_2{
  font-family: "Poppins", sans-serif;
  color: black;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.dato{
  font-family: "Poppins", sans-serif;
  color: black;
  padding: 0px 3px 20px 65px;
  font-size: 17px;
}

.campo{
  font-family: "Poppins", sans-serif;
  border-radius: 13px;
  border: 1px solid #f1f0f0;
  background: #f4f4f4;
  color: #c0bfbf;
  width: 450px;
  padding: 10px;
  font-size: 15px;
}

.ingresar{
  font-family: "Poppins", sans-serif;
  border-radius: 13px;
  border: 1px solid #c08e22;
  background: #c08e22;
  color: white;
  padding: 10px;
  margin: 15px 0px 20px 0px;
}

#recuperar_contraseña{
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: rgb(8, 8, 116);
}

.leyenda{
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  padding: 15px;
  margin-bottom: 25px;
  color: #888484;
}

.logo{
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
