body {
  font-family: "Raleway", sans-serif;
  user-select: none;
  background-color: #171614;
}

.navbar{
  background: rgba(0, 0, 0, 0.5);
  padding: 0;
}

.container-fluid{
  margin: 0;
}

.barra:hover{
  background: #C6A04F;
  margin: 0;
}

#citas{
  border-radius: 50px;
}

#citas:hover{
  background-color: #342b1e;
  color: white;
  border: 1px solid #342b1e;

}

.titulo{
    font-family: "Playfair Display", serif;
    color: #ffffff;
    font-size: 1000%;
    text-shadow:  2px 2px 10px rgba(0, 0, 0, 0.5);
}

.subtitulo{
    font-family: "Playfair Display", serif;
    color: #ffffff;
    font-size: 200%;
}
/*sección 1*/

.seccion_1{
    display: flex;
    flex-direction: column;
    background: #171614;
}

.contenido_1{
    margin-top: 75px;
    margin-bottom: 0;
}

.titulo_1{
    font-family: "Playfair Display", serif;
    color: white;
    font-size: 110px;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.subtitulo_1{
    font-family: "Playfair Display", serif;
    color: black;
    font-size: 25px;
}

/*iniciar sesión*/
.login{
  background: white;
  border-radius: 13px;
  margin: 20px 280px 15px 280px;
}

.titulo_2{
  font-family: "Poppins", sans-serif;
  color: black;
}

.dato{
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 17px;
}

.campo{
  font-family: "Poppins", sans-serif;
  border-radius: 13px;
  border: 1px solid #f1f0f0;
  background: #f4f4f4;
  color: #938f8f;
  font-size: 15px;
}

.ingresar{
  font-family: "Poppins", sans-serif;
  border-radius: 13px;
  border: 2px solid #c08e22;
  background: #c08e22;
  color: white;
  padding: 10px;
}

.ingresar:hover{
  background-color: #000000;
  color: #c08e22;
  border: 2px solid #c08e22;
}

#recuperar_contraseña{
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: rgb(8, 8, 116);
}

.leyenda{
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #888484;
}

.logo{
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}


@media (max-width:900px) {
  .titulo{
    font-size: 100px;
  }
}


@media (max-width:600px) {
  .titulo{
    font-size: 90px;
  }
  .subtitulo{
    font-size: 20px;
  }
}

@media (max-width:400px) {
  .titulo{
    font-size: 80px;
  }
  .subtitulo{
    font-size: 20px;
  }
  .dato{
    font-size: 15px;
  }
  .campo{
    font-size: 13px;
  }
}